<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cloud.mapper.CookingMapper">

	<!-- 부모: recipe 테이블 저장 -->
	<insert id="insertRecipeList" parameterType="java.util.List">
		INSERT IGNORE INTO recipe (
		RECIPE_ID, RECIPE_NM_KO, SUMRY, NATION_NM, NATION_CODE, TY_CODE, COOKING_TIME, CALORIE, QNT, LEVEL_NM
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.recipeCode},
			#{item.recipeInfo.recipeNmKo},
			#{item.recipeInfo.sumry},
			#{item.recipeInfo.nationNm},
			#{item.recipeInfo.nationCode},
			#{item.recipeInfo.tyCode},
			#{item.recipeInfo.cookingTime},
			#{item.recipeInfo.calorie},
			#{item.recipeInfo.qnt},
			#{item.recipeInfo.levelNm}
			)
		</foreach>
	</insert>

	<!-- 자식: cooking_info 테이블 저장 -->
	<insert id="insertCookingInfoList"
		parameterType="java.util.List">
		INSERT IGNORE INTO cooking_info (
		RECIPE_ID, COOKING_NO, COOKING_DC, STEP_TIP, STEP_IMG_URL, IMG_TYPE
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.recipeId}, #{item.cookingNo}, #{item.cookingDc}, #{item.stepTip},
			#{item.stepImgUrl}, #{item.imgType}
			)
		</foreach>
	</insert>
	<insert id="insertIrdntList" parameterType="java.util.List">
		INSERT IGNORE INTO irdnt_info (
		RECIPE_ID,
		IRDNT_SN,
		IRDNT_NM,
		IRDNT_CPCTY,
		IRDNT_TY_CODE,
		IRDNT_TY_NM
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.recipeId},
			#{item.irdntSn},
			#{item.irdntNm},
			#{item.irdntCpcty},
			#{item.irdntTyCode},
			#{item.irdntTyNm}
			)
		</foreach>
	</insert>
</mapper>