<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cloud.mapper.RecipeMapper">

	<sql id="recipeColumns">
		r.RECIPE_ID AS recipeId,
		r.RECIPE_NM_KO AS recipeNmKo,
		r.SUMRY AS sumry,
		r.NATION_CODE AS nationCode,
		r.NATION_NM AS nationNm,
		r.TY_CODE AS tyCode,
		r.TY_NM AS tyNm,
		r.COOKING_TIME AS cookingTime,
		r.CALORIE AS calorie,
		r.QNT AS qnt,
		r.LEVEL_NM AS levelNm,
		r.VIDEO_URL AS videoUrl,
		r.HIT AS hit,
		r.LIKE_COUNT AS likeCount,
		r.PRICE AS price,
		r.WRITER_ID AS writerId,
		r.CREATED_AT AS createdAt,
		m.NICKNAME AS writerNickname,
		m.PROFILE_IMG
		AS writerProfileImg,
		(SELECT img_url FROM recipe_image WHERE
		recipe_code = r.RECIPE_ID
		ORDER BY
		sort_order ASC LIMIT 1) AS
		thumbImgUrl
	</sql>

	<select id="selectRecipeList"
		resultType="org.cloud.dto.Recipe_Info">
		SELECT DISTINCT
		<include refid="recipeColumns" />
		FROM recipe r
		LEFT JOIN member m ON r.WRITER_ID = m.ID
		<if test="tagId != null">
			JOIN recipe_tag rt ON r.recipe_id = rt.recipe_id
		</if>
		<where>
			<if test="recipeNmKo != null and recipeNmKo != ''">
				AND r.recipe_nm_ko LIKE CONCAT('%', #{recipeNmKo}, '%')
			</if>
			<if test="tagId != null">
				AND rt.tag_id = #{tagId}
			</if>
		</where>
	</select>

	<insert id="insertIrdntInfo" parameterType="java.util.List">
		INSERT INTO irdnt_info (RECIPE_ID, IRDNT_SN, IRDNT_NM, IRDNT_CPCTY,
		IRDNT_TY_CODE, IRDNT_TY_NM)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.recipeId}, #{item.irdntSn}, #{item.irdntNm},
			#{item.irdntCpcty}, #{item.irdntTyCode}, #{item.irdntTyNm})
		</foreach>
	</insert>

	<select id="selectRecipeListPaged"
		parameterType="org.cloud.dto.RecipeSearchParams"
		resultType="org.cloud.dto.Recipe_Info">

		SELECT DISTINCT
		r.RECIPE_ID AS recipeId,
		r.RECIPE_NM_KO AS recipeNmKo,
		r.SUMRY AS
		sumry,
		r.NATION_CODE AS nationCode,
		r.NATION_NM AS nationNm,
		r.TY_CODE AS
		tyCode,
		r.TY_NM AS tyNm,
		r.COOKING_TIME AS cookingTime,
		r.CALORIE AS
		calorie,
		r.QNT AS qnt,
		r.LEVEL_NM AS levelNm,
		r.VIDEO_URL AS videoUrl,
		r.HIT AS hit,
		r.LIKE_COUNT
		AS likeCount,
		r.PRICE AS price,
		r.WRITER_ID AS writerId,
		r.CREATED_AT AS createdAt,
		m.NICKNAME AS
		writerNickname,
		m.PROFILE_IMG AS writerProfileImg,
		(SELECT img_url FROM
		recipe_image WHERE recipe_code = r.RECIPE_ID
		ORDER BY
		sort_order ASC
		LIMIT 1) AS thumbImgUrl

		FROM recipe r
		LEFT JOIN
		member m ON r.WRITER_ID =
		m.ID

		<if test="tagIds != null and tagIds.size() &gt; 0">
			JOIN recipe_tag rt ON r.recipe_id = rt.recipe_id
		</if>

		<where>
			<if test="recipeNmKo != null and recipeNmKo != ''">
				AND r.recipe_nm_ko LIKE CONCAT('%', #{recipeNmKo}, '%')
			</if>

			<if test="tagIds != null and tagIds.size() &gt; 0">
				AND rt.tag_id IN
				<foreach collection="tagIds" item="tid" open="("
					separator="," close=")">
					#{tid}
				</foreach>
			</if>

			<if test="levelNm != null and levelNm != ''">
				AND r.level_nm = #{levelNm}
			</if>

			<if test="cookingTimeFilter == 'under10'">
				AND CAST(REGEXP_SUBSTR(r.COOKING_TIME, '[0-9]+') AS UNSIGNED) &lt;= 10
			</if>

			<if test="cookingTimeFilter == 'under30'">
				AND CAST(REGEXP_SUBSTR(r.COOKING_TIME, '[0-9]+') AS UNSIGNED) &gt; 10
				AND CAST(REGEXP_SUBSTR(r.COOKING_TIME, '[0-9]+') AS UNSIGNED) &lt;=
				30
			</if>

			<if test="cookingTimeFilter == 'over30'">
				AND CAST(REGEXP_SUBSTR(r.COOKING_TIME, '[0-9]+') AS UNSIGNED) &gt; 30
			</if>

			<if test="irdntNms != null and irdntNms.size() &gt; 0">
				AND r.recipe_id IN (
					SELECT recipe_id FROM irdnt_info
					WHERE irdnt_nm IN
					<foreach collection="irdntNms" item="nm" open="(" separator="," close=")">
						#{nm}
					</foreach>
					GROUP BY recipe_id
					HAVING COUNT(DISTINCT irdnt_nm) = ${irdntNms.size()}
				)
			</if>
		</where>

		<choose>
			<when test="sortType == 'all'">
				ORDER BY r.CREATED_AT DESC, r.RECIPE_ID DESC
			</when>

			<when test="sortType == 'scrap'">
				ORDER BY r.LIKE_COUNT DESC
			</when>

			<when test="sortType == 'view'">
				ORDER BY r.HIT DESC
			</when>

			<when test="sortType == 'popular'">
				ORDER BY (
				r.LIKE_COUNT +
				(
				SELECT COUNT(*)
				FROM review
				rv
				WHERE rv.RECIPE_CODE = r.RECIPE_ID
				AND rv.THUMBS_UP = 1
				)
				) DESC
			</when>

			<otherwise>
				ORDER BY r.recipe_id DESC
			</otherwise>
		</choose>

		LIMIT #{size} OFFSET #{offset}
	</select>

	<select id="countRecipeList"
		parameterType="org.cloud.dto.RecipeSearchParams" resultType="int">
		SELECT COUNT(DISTINCT r.recipe_id)
		FROM recipe r
		<if test="tagIds != null and tagIds.size() &gt; 0">
			JOIN recipe_tag rt ON r.recipe_id = rt.recipe_id
		</if>
		<where>
			<if test="recipeNmKo != null and recipeNmKo != ''">
				AND r.recipe_nm_ko LIKE CONCAT('%', #{recipeNmKo}, '%')
			</if>
			<if test="tagIds != null and tagIds.size() &gt; 0">
				AND rt.tag_id IN
				<foreach collection="tagIds" item="tid" open="("
					separator="," close=")">
					#{tid}
				</foreach>
			</if>
			<if test="levelNm != null and levelNm != ''">
				AND r.level_nm = #{levelNm}
			</if>
			<if test="cookingTimeFilter == 'under10'">
				AND CAST(REGEXP_SUBSTR(r.COOKING_TIME, '[0-9]+') AS UNSIGNED) &lt;= 10
			</if>
			<if test="cookingTimeFilter == 'under30'">
				AND CAST(REGEXP_SUBSTR(r.COOKING_TIME, '[0-9]+') AS UNSIGNED) &gt; 10
				AND CAST(REGEXP_SUBSTR(r.COOKING_TIME, '[0-9]+') AS UNSIGNED) &lt;= 30
			</if>
			<if test="cookingTimeFilter == 'over30'">
				AND CAST(REGEXP_SUBSTR(r.COOKING_TIME, '[0-9]+') AS UNSIGNED) &gt; 30
			</if>
			<if test="irdntNms != null and irdntNms.size() &gt; 0">
				AND r.recipe_id IN (
					SELECT recipe_id FROM irdnt_info
					WHERE irdnt_nm IN
					<foreach collection="irdntNms" item="nm" open="(" separator="," close=")">
						#{nm}
					</foreach>
					GROUP BY recipe_id
					HAVING COUNT(DISTINCT irdnt_nm) = ${irdntNms.size()}
				)
			</if>
		</where>
	</select>

	<select id="selectRecipesByWriterId"
		resultType="org.cloud.dto.Recipe_Info">
		SELECT DISTINCT
		<include refid="recipeColumns" />
		FROM recipe r
		LEFT JOIN member m ON r.WRITER_ID = m.ID
		WHERE r.writer_id
		= #{writerId}
		ORDER BY r.created_at DESC
	</select>

	<insert id="insertFullRecipe"
		parameterType="org.cloud.dto.Recipe">
		INSERT INTO recipe (
		RECIPE_ID, RECIPE_NM_KO, SUMRY,
		NATION_CODE, NATION_NM, TY_CODE, TY_NM,
		COOKING_TIME, CALORIE, QNT,
		LEVEL_NM, VIDEO_URL,
		HIT, LIKE_COUNT, PRICE, WRITER_ID
		) VALUES (
		#{recipeCode},
		#{recipeInfo.recipeNmKo},
		#{recipeInfo.sumry},
		#{recipeInfo.nationCode},
		#{recipeInfo.nationNm},
		#{recipeInfo.tyCode},
		#{recipeInfo.tyNm},
		#{recipeInfo.cookingTime},
		#{recipeInfo.calorie},
		#{recipeInfo.qnt},
		#{recipeInfo.levelNm},
		#{recipeInfo.videoUrl},
		0, 0,
		#{price},
		#{writerId}
		)
	</insert>


	<insert id="insertCookingInfo" parameterType="java.util.List">
		INSERT INTO cooking_info (RECIPE_ID, COOKING_NO, COOKING_DC, STEP_TIP,
		STEP_IMG_URL, IMG_TYPE)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.recipeId}, #{item.cookingNo}, #{item.cookingDc},
			#{item.stepTip}, #{item.stepImgUrl}, #{item.imgType})
		</foreach>
	</insert>

	<update id="updateFullRecipe"
		parameterType="org.cloud.dto.Recipe">
		UPDATE recipe
		SET RECIPE_NM_KO =
		#{recipeInfo.recipeNmKo},
		SUMRY = #{recipeInfo.sumry},
		NATION_CODE =
		#{recipeInfo.nationCode},
		NATION_NM = #{recipeInfo.nationNm},
		TY_CODE =
		#{recipeInfo.tyCode},
		TY_NM = #{recipeInfo.tyNm},
		COOKING_TIME =
		#{recipeInfo.cookingTime},
		CALORIE = #{recipeInfo.calorie},
		QNT =
		#{recipeInfo.qnt},
		LEVEL_NM = #{recipeInfo.levelNm},
		VIDEO_URL = #{recipeInfo.videoUrl},
		PRICE = #{price}
		WHERE RECIPE_ID = #{recipeCode}
	</update>

	<delete id="deleteIrdntInfo">
		DELETE FROM irdnt_info WHERE RECIPE_ID = #{recipeId}
	</delete>

	<delete id="deleteCookingInfo">
		DELETE FROM cooking_info WHERE RECIPE_ID =
		#{recipeId}
	</delete>

	<delete id="deleteRecipe">
		DELETE FROM recipe WHERE RECIPE_ID = #{recipeId}
	</delete>

	<select id="countRecipeById">
		SELECT count(*) from recipe where
		WRITER_ID=#{writerId}
	</select>

	<select id="selectRecipeInfoById"
		resultType="org.cloud.dto.Recipe_Info">
		SELECT
		<include refid="recipeColumns" />
		FROM recipe r
		LEFT JOIN member m ON r.WRITER_ID = m.ID
		WHERE r.RECIPE_ID
		= #{recipeId}
	</select>

	<select id="selectCookingInfoByRecipeId"
		resultType="org.cloud.dto.Cooking_Info">
		SELECT
		RECIPE_ID AS recipeId,
		COOKING_NO AS cookingNo,
		COOKING_DC AS cookingDc,
		STEP_TIP AS stepTip,
		STEP_IMG_URL AS
		stepImgUrl,
		IMG_TYPE AS imgType
		FROM cooking_info
		WHERE RECIPE_ID =
		#{recipeId}
		ORDER BY COOKING_NO ASC
	</select>

	<select id="selectIrdntInfoByRecipeId"
		resultType="org.cloud.dto.Irdnt_Info">
		SELECT
		RECIPE_ID AS recipeId,
		IRDNT_SN AS irdntSn,
		IRDNT_NM AS
		irdntNm,
		IRDNT_CPCTY AS irdntCpcty,
		IRDNT_TY_CODE AS irdntTyCode,
		IRDNT_TY_NM AS irdntTyNm
		FROM irdnt_info
		WHERE RECIPE_ID = #{recipeId}
		ORDER BY IRDNT_SN ASC
	</select>

	<update id="incrementHit">
		UPDATE recipe SET HIT = HIT + 1 WHERE RECIPE_ID =
		#{recipeId}
	</update>


	<select id="selectWriterIdByRecipeId" resultType="string">
		SELECT
		WRITER_ID
		FROM recipe
		WHERE RECIPE_ID = #{recipeId}
	</select>

</mapper>
